<app-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">Menu<mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/shop">
              <mat-icon>list</mat-icon>
              Browse Products
        </button>
            
        <button mat-menu-item routerLink="/shop/basket">
            <mat-icon>shopping_cart</mat-icon>
            Basket
        </button>
          
        <button mat-menu-item routerLink="/orders" >
            <mat-icon>perm_media</mat-icon>
            Orders
        </button>
        
        <button mat-menu-item routerLink="/account" >
          <mat-icon>all_out</mat-icon>
          Account
        </button>
      
        <button mat-menu-item  routerLink="/auth"  >
          <mat-icon>account_circle</mat-icon>
          Sign In
        </button>
      
        <button mat-menu-item   (click)="logout()" >
          <mat-icon>phonelink_off</mat-icon>
          Sign Out
        </button>
    </mat-menu>
  
        <div style="flex: 1 1 auto;flex-direction: row">
            <span class="login" >
                <span style="color:white">Logged as: </span> 
                <!-- <b>{{(user$ | async)?.displayName}}</b> -->
                <!-- <span style="color:white">LoggedIn as: </span> <b>{{(user$ | async)?.firstName + ' ' + (user$ | async)?.lastName}}</b> -->
            </span>
          </div>
  </app-toolbar>
  
  
  


<router-outlet></router-outlet>